<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Menu</span>
                </li>
                <li class=""> 
                    <a href="{%url 'admin-dashboard' %}"><i class="fas fa-home"></i> <span>Dashboard</span></a>
                </li>
                
                <li class="submenu">
                    <a href="#"><i class="fas fa-hospital"></i> <span> Hospitals</span></a>
                    <ul style="display:none;">
                        <li><a href="{% url 'hospital-list' %}"><i class="fas fa-plus-circle"></i> <span>Add Hospital</span></a></li>
                        <li><a href="{% url 'emergency' %}"><i class="fas fa-ambulance"></i> <span>Add Emergency Info</span></a></li>
                    </ul>
                </li>

                

                <li class="submenu"> 
                    <a href="#"><i class="fas fa-user-md"></i> <span>Doctors</span></a>
                    <ul style="display:none;">
                        <li><a href="{%url 'register-doctor-list'%}"><i class="fas fa-user-check"></i> <span>View Doctors</span></a></li>
                    </ul>
                </li>
                
                

                <li class="submenu">
                    <a href="#"><i class="fas fa-flask"></i> <span> Lab Worker</span></a>
                    <ul style="display:none;">
                        <li><a href="{% url 'add-lab-worker' %}"><i class="fas fa-user-plus"></i> <span>Add Lab Worker</span></a></li>
                        <li><a href="{% url 'lab-worker-list' %}"><i class="fas fa-users"></i> <span>View Lab Worker</span></a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#"><i class="fas fa-pills"></i> <span> Pharmacist</span></a>
                    <ul style="display:none;">
                        <li><a href="{% url 'add-pharmacist' %}"><i class="fas fa-user-plus"></i> <span>Add Pharmacist</span></a></li>
                        
                        <li><a href="{%url 'pharmacist-list'%}"><i class="fas fa-users"></i> <span>View Pharmacist</span></a></li>
                    </ul>
                </li>
                
                {% comment %} <li class="submenu">
                    <a href="#"><i class="fas fa-file-alt"></i> <span> Reports</span></a>
                    <ul style="display: none;">
                        <li><a href="invoice-report.html">Invoice Reports</a></li>
                    </ul>
                </li> {% endcomment %}

                

                
                
                <li> 
                    <a href="{%url 'hospital-admin-profile' pk=user.id %}"><i class="fas fa-user-cog"></i> <span>Profile</span></a>
                </li>

                
            </ul>
        </div>
    </div>
</div>
