<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Menu</span>
                </li>
                <li class=""> 
                    <a href="{%url 'pharmacist-dashboard' %}"><i class="fas fa-home"></i> <span>Dashboard</span></a>
                </li>
            </ul>
            <ul>
                <li class="menu-title"> 
                    <span>Billing</span>
                </li>
                <li><a href="{%url 'pharmacist-orders'%}"><i class="fas fa-shopping-cart"></i> <span>Orders & Payments</span></a></li>
            </ul>
            <ul>
                <li class="menu-title"> 
                    <span>Inventory</span>
                </li>
                <li><a href="{%url 'medicine-list'%}"><i class="fas fa-capsules"></i> <span>View Medicine</span></a></li>
                <li><a href="{% url 'add-medicine' %}"><i class="fas fa-plus-circle"></i> <span> Add Medicine</span></a></li>
            </ul>
        </div>
    </div>
</div>
